<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/840623fc-d510-4b87-8cda-8d1c0ed8ac4b/resourceGroups/Viljo/providers/Microsoft.Web/sites/czqo-nat-track</ResourceId>
    <ResourceGroup>Viljo</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://czqo-nat-track.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>79acf930-1257-44d2-94f3-9fc6a10fdc05</ProjectGuid>
    <PublishUrl>https://czqo-nat-track.scm.azurewebsites.net/</PublishUrl>
    <UserName>$czqo-nat-track</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>